<div class="container">
<h2 style="text-align: center;">Welcome to Angular App</h2>

<div class="col-sm-12">
 
  <!-- <input type="text" class="form-control" (input)="onUpdateInputs($event)"><br> -->
  <label>Search here</label>
  <input type="text" class="form-control"[(ngModel)]="serverName"><br>

  <!-- <p>{{serverName}}</p> -->
  <button class="col-sm-12 btn btn-primary" [disabled]="!isEnabled" (click)="handleClick()">Add Server</button>
  
  
  <p  class="mb-0" style="color:green">{{message}}</p>
</div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsam nobis voluptas dolorum enim amet, saepe quod beatae mollitia unde totam incidunt distinctio soluta quo, fuga eum sit omnis. Itaque.</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officiis suscipit, quidem commodi voluptatibus ducimus numquam itaque enim rem odit quos in. Harum nostrum aut porro sunt cumque voluptatem ea.</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur cupiditate tenetur voluptatibus provident, odio beatae nam amet quidem? Doloribus modi labore odio obcaecati repellat error eveniet ipsam quia laudantium?</p>
    </div>
  </div>
</div> -->
<!-- <div class="container mt-3">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo"
  (click)="handleClick()" >Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div> -->
